<!-- Our Journey -->
<section class="spotlight style2 orient-right content-align-left image-position-center onscroll-image-fade-in" id="first">
  <div class="content">
    <h2>Our Journey To Forever Family...</h2>
    <p class="major">...continued!</p>
  </div>
  <div class="image">
    <img src="{{ url_for('static', filename='images/pink-shoes.jpg') }}" alt="" />
  </div>
</section>

<!-- Last time... -->
<section class="spotlight style4 orient-right content-align-left image-position-left onscroll-image-fade-in">
  <div class="content">
    <h2>Last time on "The Aldersons Are Adopting"...</h2>
    <p>It was 2013, and Nathan and Hannah decided to build their family with adoption. God called them to Eastern Europe,
    and then led them to four amazing kids in Poland. They were three, five, nine, and eleven at the time: three
    older brothers and their little sister. Nathan and Hannah flew to Poland, hung out with them for two months, and then
    finally brought them home less than a year after they filled out their first application paper.</p>
  </div>
  <div class="image">
    <img src="{{ url_for('static', filename='images/dock.jpg') }}" alt="" />
  </div>
</section>

<!-- Fast Forward -->
<section class="spotlight style1 orient-left content-align-left image-position-center onscroll-image-fade-in">
  <div class="content">
    <h2>Fast Forward to 2018...</h2>
    <p>In the fall of 2018, Nathan, Hannah, and their four kiddos (now eight, ten, fourteen, and sixteen) were marching along
    through the usual story lines: school, work, church, PTA meetings, sports (all the sports!). But God had a plot twist
    coming...</p>
    <p>Nathan was in St. Louis for a work conference and Hannah was at church when our old social worker
    called us with the news that our kids' bio parents had had another baby. They wanted to know if we wanted
    to pursue another adoption.</p>
    <p>A little while later, we told our kids about their sibling in a very fun way!</p>
    <video width="75%" controls>
      <source src="{{ url_for('static', filename='images/reveal.m4v') }}" type="video/mp4">
      Your browser does not support the video tag.
    </video>
  </div>
  <div class="image">
    <img src="{{ url_for('static', filename='images/seven-pair.jpg') }}" alt="" />
  </div>
</section>

<!-- Last time... -->
<section class="spotlight style2 orient-left content-align-right image-position-center onscroll-image-fade-in">
  <div class="content">
    <h2>Thanks</h2>
    <p>We couldn't do this without you</p>
  </div>
  <div class="image">
    <img src="{{ url_for('static', filename='images/crib.jpg') }}" alt="" />
  </div>
</section>

<!-- Footer -->
<footer class="wrapper style1 align-center">
  <div class="inner">
    <p>&copy; 2019 Nathan Alderson. Design: <a href="https://html5up.net">HTML5 UP</a>.</p>
  </div>
</footer>
